.header-container{
    background-color: #FE9F6D;
    box-shadow: 3px 5px 4px #FFE8DC;
}
#logo{
    color:#341809;
    font-weight:bolder;
    letter-spacing: 3px;
    text-decoration: none
}

#nav-item{
    color:#341809;
    font-weight:bold;
    text-decoration: none;
    padding:20px;
}
